<div class="itapeva">
  <h4 class="ion-text-center">Imóveis em Itapeva</h4>
    <div>
      <ion-chip style="margin-left: 20px;" color="danger">
        <ion-label>Apartamento</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip color="warning">
        <ion-label>Casa</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>Kitnet</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </div>
  <swiper #swiper>
    <ng-template swiperSlide *ngFor="let imovel of imoveis">
      <ion-card>
        <ion-card-header>
          <ion-img [src]="imovel.image"></ion-img>
          <h3>{{ imovel.price }}</h3>
        </ion-card-header>

        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>
</div>

