.swiper-container{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.itapeva{
  padding-top: 15px;
  background-color: #fff;
}
