<h3 class="ion-text-center">Dicas sobre imóveis</h3>
<div *ngFor="let i of informacoes">
  <ion-img [src]="i.img"></ion-img>
  <ion-title class="ion-text-center">{{ i.title }}</ion-title>
  <ion-button class="center" color="danger">{{ i.button }}</ion-button>
</div>
