<h4 class="ion-text-center">Locais mais procurados</h4>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let i of textos">
    <ion-img [src]="i.img"></ion-img>
    <ul>
      <li>
        <a href="">
          {{ i.casas }}
        </a>
      </li>
      <li>
        <a href="">
          {{ i.apart }}
        </a>
      </li>
      <li>
        <a href="">
          {{ i.kitnet }}
        </a>
      </li>
    </ul>
  </ion-slide>
</ion-slides>
