ion-slides{
  height: 400px;
  ion-slide{
    margin-top: 0px;
    text-align: justify;
  }
  ion-img{
    margin-bottom: 10px;
    width: 100%;
    height: 220px;
  }
}


ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  li{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
}
