<ion-header>
  <ion-toolbar>
    <ion-title>Stark's Houses</ion-title>
    <button id="notif-btn" slot="end" style="background-color: transparent;">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge id="notif-badge"color="primary" slot="end" color="danger">11</ion-badge>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-cards></app-cards>
  <app-carousel></app-carousel>
  <app-buscas-populares></app-buscas-populares>
  <div class="spacer"></div>
  <app-informacoes></app-informacoes>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
