
ion-icon{
  font-size: 30px;
}

#notif-btn{
  margin-right: 15px;
  position: relative;
}

#notif-badge{
  position: absolute;
  top: 0px;
  right: -6px;
  border-radius: 100%;
}

.spacer{
  height: 20px;
  background-color: #fff;
}
