<ion-searchbar color="danger"></ion-searchbar>
  <ion-card color="light" routerLink="/lista-imoveis">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Os melhores imóveis para sua prefêrencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="../../../assets/images/card.jpg"></ion-img>
      <ion-button color="danger" expand="block">Visitar</ion-button>
    </ion-card-content>
  </ion-card>
